name: Phase Release Automation

permissions:
  contents: write

env:
  TOOLKIT_ROOT: tools/git/git-toolkit
  TOOLKIT_SCRIPTS: tools/git/git-toolkit/scripts

on:
  push:
    tags:
      - "*toolkit-*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0 # BẮT BUỘC để đọc tag & commit history

      #      - name: Checkout submodules
      #        run: |
      #          git submodule update --init
      #          cd tools/git/git-toolkit
      #          git fetch origin
      #          git checkout feature/toolkit

      - name: Debug repo structure
        run: |
          pwd
          ls -la
          echo "Toolkit root:"
          ls -la $TOOLKIT_ROOT || true
          echo "Toolkit scripts:"
          ls -la $TOOLKIT_SCRIPTS || true

      - name: Setup tools permission
        run: |
          find "$TOOLKIT_SCRIPTS" -type f -name "*.sh" -exec chmod +x {} \;

      - name: Generate CHANGELOG
        run: |
          "$TOOLKIT_SCRIPTS/gen-changelog.sh"

      - name: Checkout master branch for release commit
        run: |
          git fetch origin master
          git checkout master

      - name: Commit CHANGELOG
        run: |
          git config user.name "qa-release-bot"
          git config user.email "qa-release-bot@users.noreply.github.com"

          git add CHANGELOG.md
          git commit -m "chore(release): update changelog for ${{ github.ref_name }}"
          git push
