name: Phase Release Automation

on:
  push:
    tags:
      - "*toolkit-*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0 # BẮT BUỘC để đọc tag & commit history
      - name: Debug repo structure
        run: |
          pwd
          ls -la
          ls -la tools || true
          ls -la tools/git || true
          ls -la tools/git/git-toolkit || true

      - name: Setup tools permission
        run: |
          find tools/git/git-toolkit/scripts -type f -name "*.sh" -exec chmod +x {} \;

      - name: Generate CHANGELOG
        run: |
          ./tools/git/git-toolkit/scripts/gen-changelog.sh

      - name: Commit CHANGELOG
        run: |
          git config user.name "qa-release-bot"
          git config user.email "qa-release-bot@local"
          git add CHANGELOG.md
          git commit -m "chore(release): update changelog for ${{ github.ref_name }}"
          git push
